.movie-info {
    width: 70%;
    margin-top: 15px;
    padding: 50px;
    .title {
        font-size: 2em;
        margin-block-end: 0.3em;
        font-weight: 900;
    }
    .data {
        font-size: 0.75em;
        color: $data-color;
        margin-left: 40px;
        span {
            margin-right: 15px;
        }
    }
    p {
        font-size: 0.9em;
    }
}
.starring span {
    margin-left: 40px;
    line-height: 2.5em;
}
